*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.w-full {
  width: 100%;
  height: 100%;
}

.z-index {
  z-index: 99999;
}

.auto-search-wrapper {
  z-index: 9999;
}